body {
    background-image: url("../images/crys_screenshot.png");
}
h1 {
    padding-top: 1%;
    color: goldenrod;
    font-size: 50px;
    text-shadow: 2px 2px 8px #FF0000;
    text-align: center;
}
h2 {
   text-shadow: 2px 2px 8px #FF0000; 
   text-align: center;
   color: white;
   font-size: 40px; 
   clear:both;   
}

h3 {
    background-color: darkolivegreen;
     padding: 1%;
    color: white;
    font-size: 20px;
    text-align: center;
}
.image {
    margin-left: 150px;
    padding: 10px;
    border: 15px solid darkolivegreen;
    float: left;
    width:25%;
    width:125px;
    height:125px; 
    cursor: pointer;  
}
.image:hover {
    opacity:0.6;
    filter: alpha(opacity=60);
}

.display {
width: 33.33%;
float: left;
}
